<!doctype html>
<html>
<head>
	<title>Events List</title>
</head>
<body>
	{{#events}}
		<div data-event-id="{{event_id}}">
			<h1>{{name}}</h2>
			<p>{{#filterDate}}{{start_time}}{{/filterDate}}: <span>{{#filterTime}}{{start_time}}{{/filterTime}}</span> - <span>{{#filterTime}}{{end_time}}{{/filterTime}}</span></p>
			<button class="check-in">Check In</button>
			<button class="check-out">Check Out</button>
			<button class="skip">Skip</button>
		</div>
	{{/events}}
	<script type="text/javascript" src="js/aja.min.js"></script>
	<script type="text/javascript" src="js/list.js"></script>
</body>
</html>
