<!doctype html>
<html>
<head>
	<title>Events List</title>
</head>
<body>
	{{#events}}
		<div>
			<h1>{{name}}</h2>
			<p>{{date}}: <span>{{startTime}}</span> - <span>{{endTime}}</span></p>
		</div>
	{{/events}}
</body>
</html>
